body {
    padding: 0;
    margin: 0;
}

/* Main navigation container */
.nav-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Content inside of navigation container */
.nav-content-container {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

/* Icons */
.fa-instagram, .fa-search, .fa-times-circle, 
.fa-compass, .fa-heart, .fa-user {
    font-size: 1.1em;
}

.fa-compass:hover,
.fa-heart:hover,
.fa-user:hover {
    color: #223142;
}

.instagram-link {
    text-decoration: none;
}

/* Search input */
#search-input {
    margin-bottom: 5px;
    padding: 2px;
}