body {
    padding: 0;
    margin: 0;
}

/* Main navigation container */
.nav-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Content inside of navigation container */
.nav-content-container {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    align-items: center;
}

.nav-container a {
    font-size: 1.1em;
}

/* Middle section icons */
.nav-content-middle {
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    padding: 0.25em;
    border-radius: 2px;
}

/* Icons */
.fa-instagram, .fa-search, .fa-times-circle, 
.fa-compass, .fa-heart, .fa-user {
    font-size: 1.4em;
    padding: 5px 5px;
}

.fa-instagram {
    font-size: 1.6em;
    color: #bc2a8d;
}

.fa-search, .fa-times-circle {
    font-size: 1em;
    margin: 5px 0;
}

.fa-compass,
.fa-heart,
.fa-user {
    color: #223142;
}

.fa-compass:hover,
.fa-heart:hover,
.fa-user:hover {
    color: #0000FF;
}

.instagram-link {
    text-decoration: none;
    font-family: 'Rochester', cursive;
}

.instagram-title {
    font-size: 1.6em;
    font-weight: 400;
    padding-left: 10px;
    margin-left: 5px;
    border-left: 1px solid;
    color: #bc2a8d;
}

/* Search input */
#search-input {
    margin: 5px;
    padding: 5px;
    border: none;
}

/*Media Queries */
@media screen and (max-width: 564px) {
    .nav-content-container {
        padding: 0.5em;
    }

    .instagram-link span {
        display: none;
    }
}